/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Container for aside and main */
.container {
    display: flex;
    flex: 1;
}

/* Aside (Navigation Bar) */
aside {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 20px;
}

aside nav ul {
    list-style-type: none;
}

aside nav ul li {
    margin-bottom: 15px;
}

aside a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    display: block;
    transition: transform 0.3s ease-in-out;
    margin: 5px;
}

aside a:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Main Content */
main {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

main h1 {
    margin-bottom: 20px;
}

main a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

main a:hover {
    background-color: #218838;
}

/* Footer */
footer {
    background-color: #333001;
    color: white;
    text-align: center;
    padding: 10px;

}


